<div class="container">
  <div class="row">
    <div class="col">
      <img src="/assets/images/clearpoint-logo.png" alt="ClearPoint" class="img-fluid rounded" />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div role="alert" class="fade alert alert-success show">
        <div class="alert-heading h4">Todo List App (Angular)</div>
        Welcome to the ClearPoint frontend technical test. We like to keep things simple, yet clean so your task(s) are as follows:<br><br>
        
        <ol class="list-left text-left">
          <li>Add the ability to add (POST) a Todo Item by calling the backend API</li>
          <li>Display (GET) all the current Todo Items in the below grid and display them in any order you wish</li>
          <li>Bonus points for completing the 'Mark as completed' button code for allowing users to update and mark a specific Todo Item as completed and for displaying any relevant validation errors/ messages from the API in the UI</li>
          <li>Feel free to add unit tests and refactor the component(s) as best you see fit</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form class="d-flex" #todoForm="ngForm" (submit)="createTodoItem()">
        <div class="input-group mb-3">
          <button type="button" class="btn btn-outline-secondary d-flex align-items-center" [disabled]="todoForm.invalid"
            (click)="clearInput()">
            <span class="material-icons-outlined">clear</span>
          </button>
          <input class="form-control" placeholder="Enter description..." type="text" name="todoInput" id="formAddTodoItem"
            minlength="1" maxlength="250"
            autofocus required
            [(ngModel)]="todoInput"
            (enter)="createTodoItem()">
          <button type="submit" class="btn btn-primary d-flex align-items-center" [disabled]="todoForm.invalid">
            <span class="material-icons-outlined">add</span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <h4 *ngIf="totalOfItems" class="total-item d-flex align-items-center justify-content-center">Showing {{totalOfItems}} Item(s) 
        <button type="button" class="pull-right btn btn-primary d-flex align-items-center ms-2"
          (click)="getTodoItems()">
          <span class="material-icons-outlined">sync</span>
        </button>
      </h4>
      <table class="todo-table table table-bordered mb-0">
        <thead>
          <tr>
            <th class="text-start border-end-0 px-5">Description</th>
            <th class="action border-start-0">Action</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <ul class="list-group text-start">
        <li *ngFor="let item of todoItems; trackBy: trackById" class="list-group-item border-top-0 p-0">
          <app-todo [todo]="item" [todoInput]="todoInput"></app-todo>
        </li>
      </ul>      
      <h5 *ngIf="!totalOfItems" class="empty-list my-3">You got an empty list. Let's add some To-Dos.</h5>
    </div>
  </div>
</div>

<app-toast class="position-absolute top-0 start-50 translate-middle-x"></app-toast>